*{            
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height:100%;
}

html {
	height: 100%;
	/* max-height: 600px; */
	width: 100%;
	background-color: hsla(200,40%,30%,.4);
	background-image:		
		url('https://78.media.tumblr.com/cae86e76225a25b17332dfc9cf8b1121/tumblr_p7n8kqHMuD1uy4lhuo1_540.png'), 
		url('https://78.media.tumblr.com/66445d34fe560351d474af69ef3f2fb0/tumblr_p7n908E1Jb1uy4lhuo1_1280.png'),
		url('https://78.media.tumblr.com/8cd0a12b7d9d5ba2c7d26f42c25de99f/tumblr_p7n8kqHMuD1uy4lhuo2_1280.png'),
		url('https://78.media.tumblr.com/5ecb41b654f4e8878f59445b948ede50/tumblr_p7n8on19cV1uy4lhuo1_1280.png'),
		url('https://78.media.tumblr.com/28bd9a2522fbf8981d680317ccbf4282/tumblr_p7n8kqHMuD1uy4lhuo3_1280.png');
	background-repeat: repeat-x;
	background-position: 
		0 20%,
		0 100%,
		0 50%,
		0 100%,
		0 0;
	background-size: 
		2500px,
		800px,
		500px 200px,
		1000px,
		400px 260px;
	animation: 50s para infinite linear;
	}

@keyframes para {
	100% {
		background-position: 
			-5000px 20%,
			-800px 95%,
			500px 50%,
			1000px 100%,
			400px 0;
		}
	}
  
  
header{
	font-size: 1.5rem;
	color: rgb(218, 23, 185);
	font-family:cursive;
}

header,form{
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form input{
    font-family: Georgia, "Times New Roman", Times, serif;
	background: rgba(255,255,255,.1);
	border: none;
	border-radius: 4px;
	font-size: 15px;
	margin: 0;
	outline: 0;
	padding: 10px;
	width: 40%;
	box-sizing: border-box; 
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box; 
	background-color: #e8eeef;
	color:#8a97a0;
	-webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
	box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
	margin-bottom: 30px;
}

form button{
	font-family: Georgia, "Times New Roman", Times, serif;
	background: rgba(255,255,255,.1);
	border: none;
	border-radius: 4px;
	font-size: 15px;
	margin-left: 10px;
	outline: 0;
	padding: 10px;
	width: 50px;
	box-sizing: border-box; 
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box; 
	background-color: rgb(248, 85, 221);
	color:#8a97a0;
	-webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
	box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    margin-bottom: 30px;
    cursor: pointer;
    transition: all 0.3s ease;
}

form button:hover{
    background: rgb(238, 122, 238);
    color: white;
}

.todo-container{
	display:flex;
	align-items: center;
	justify-content: center;
}  

.todo-list{
	min-width: 30% ;
	list-style: none;
}
  
.todo{
	font-family: Georgia, "Times New Roman", Times, serif;
	background: rgba(255,255,255,.1);
	border: none;
	border-radius: 4px;
	font-size: 20px;
	margin: 0;
	outline: 0;
	padding: 7px;
	margin: 0.5rem;
	width: 450px;
	height: 50px; 
	box-sizing: border-box; 
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box; 
	background-color: #e8eeef;
	color:#374c5a;
	-webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
	box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
	margin-bottom: 30px;
	/* color: black; */
	/* font-size: 1.5rem; */
	display: flex;
	justify-content: space-between;
	align-items: center;
	transition: all 0.5s ease;
}
  
.todo li {
	flex:1;
}

.trash-btn, .complete-btn{
	background:grey;
	color: white;
	border: none;
	padding: 11px;
	cursor: pointer;
	font-size: 1rem;
	border-radius: 4px;
}

.complete-btn {
	background:rgb(218, 23, 185);
	margin:8px;
}

.todo-item {
	padding: 0rem 0.5rem;
}

.fa-trash, .fa-check{
	pointer-events: none;
}

.completed{
	text-decoration: line-through;
	opacity: 0.5;
}

.fall {
	transform: translateY(10rem) rotateZ(20deg);
	opacity: 0;
}

